body
{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #0072ff, #ff0058);
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
section
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform:perspective(1000px);
}
section::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 100vh solid transparent;
    border-left: 100vh solid #fff;
    opacity: 0.1;
}
section::after
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 100vh solid transparent;
    border-right: 100vh solid #fff;
    opacity: 0.1;
}
div
{
    position: absolute;
    background: #fff;
    transform-style: preserve-3d;
    width: 45%;
    height: 100px;
    left: 100px;
    top: 100px;
    animation-name: animate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
div:nth-child(1)
{
   left: 7%;
   width: 70px;
   height: 60px;
   animation-duration: 10s; 
}
div:nth-child(2)
{  top:50px;
   left: 38%;
   width: 100px;
   height: 80px;
   animation-duration: 15s; 
}
div:nth-child(3)
{   
   left: 69%;
   width: 130px;
   height: 70px;
   animation-duration: 10s; 
}
div:nth-child(4)
{
   left: 70%;
   width: 90px;
   height: 55px;
   animation-duration: 17s; 
}
div:nth-child(5)
{
    left: 85%;
    width: 90px;
    height: 60px;
    animation-duration: 9s; 
}
div:nth-child(6)
{  top:60px;
   left:50%;
   width: 120px;
   height: 70px;
   animation-duration: 18s; 
}
div:nth-child(7)
{
   left: 30%;
   width: 70px;
   height: 52.5px;
   animation-duration: 11s; 
}
div:nth-child(8)
{
   left: 75%;
   width: 40px;
   height: 30px;
   animation-duration: 16s; 
}

div:nth-child(9)
{  top:100px;
   left:84%;
   width: 120px;
   height: 70px;
   animation-duration: 15s; 
}
div:nth-child(10)
{  top:10px;
   width: 80px;
   height: 56px;
   animation-duration: 9s; 
}
div:nth-child(11)
{
   left: 86%;
   width: 90px;
   height: 60px;
   animation-duration: 20s; 
}

div:nth-child(12)
{
   left: 43%;
   width: 70px;
   height: 52px;
   animation-duration: 11s; 
}
div:nth-child(13)
{
   left: 19%;
   width: 50px;
   height: 35px;
   animation-duration: 16s; 
}



div:nth-child(14)
{   top:20px;
   left: 60%;
   width: 130px;
   height: 60px;
   animation-duration: 9s; 
}
div:nth-child(15)
{
   left: 32%;
   width: 70px;
   height: 45px;
   animation-duration: 10s; 
}
div:nth-child(16)
{
    left: 15%;
    width: 90px;
    height: 60px;
    animation-duration: 9s; 
}
div:nth-child(17)
{  top:150px;
   left:50%;
   width: 40px;
   height: 40px;
   animation-duration: 10s; 
}
div:nth-child(18)
{
   left: 30%;
   width: 40px;
   height: 20px;
   animation-duration: 11s; 
}


div::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background:#fff;

}
div::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background:#fff;
    background: #e2e2e2;
    transform: rotateY(90deg);

}
@keyframes animate
{
   0%
   {
       transform:rotateY(0deg)   translateY(110vh)  ;
   }
   100%
   {
       transform:rotateY(360deg) translateY(-20vh)   ;
   }
}